<footer class="bg-light">
	<div class="footer-copyright text-left py-3">
	-----------------------------------------	Equipo NodoNode ------------------------------------------------
	</div>
</footer>	
</body>
</html>