<!DOCTYPE html>
<html>
<head>
<title>Actividad 2</title>
<!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">


</head>
<body>

<nav class="navbar navbar-expand-sm bg-light">
  <a class="navbar-brand" href="/">Gesti贸nCursos</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="listar">Ver cursos Disponibles</a>   
      </li>   
      {{#if auth.isDocente }}        
      <li class="nav-item">
        <a class="nav-link" href="listarcursosdocente">Cursos docente</a>
      </li>
      {{/if}}
      {{#if auth.isAdmin }}
      <li class="nav-item">
        <a class="nav-link" href="listartodos">Ver Todos Los Cursos</a>   
      </li>       
      <li class="nav-item">
        <a class="nav-link" href="crear">Crear Curso</a>
      </li>      
      </li>
         <li class="nav-item">
        <a class="nav-link" href="listarUsuarios">Listar Usuarios</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" href="listarinscritos">Ver inscritos</a>
      </li>           
      <li class="nav-item">
        <a class="nav-link" href="desinscribiracurso">Cancelar inscripci贸n</a>
      </li>   
      <li class="nav-item">
        <a class="nav-link" href="listarmiscursos">Mis cursos</a>         
      </li> 
      {{/if}}
      {{#if auth.isAspirante }}      
      <li class="nav-item">
        <a class="nav-link" href="inscribirACurso">Inscribirse a un curso</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="listarmiscursos">Mis cursos</a>         
      </li>           
      {{/if}} 
      {{#if auth.isEnSession }}  
      <li class="nav-item">
        <a class="nav-link" href="logout">Cerrar Sesi贸n</a>
      </li>  
      {{else}}
      <li class="nav-item">
        <a class="nav-link" href="login">Iniciar Sesi贸n</a>
      </li>  
      {{/if}}      
    </ul>
  </div>



<div>
  {{#if auth.isEnSession }}  
      <i class="icon-user"><span style="color : #007bff"> Usuario : {{auth.nombre}}, Rol : {{auth.rol}} </span></i>
      {{/if}}
</div>

</nav>