
{{>header}}

   <script src="/socket.io/socket.io.js"></script> 
    <script src="/js/socketnotification.js"></script>


<button type = 'button' name = 'button' onclick="setNotification()">
	Enviar Notificacion
</button>	

{{>footer}}