
{{>header}}

	  <div class="form-group">
			<label for="nombre">TÍTULO</label>
			<input type="text" id="title" name="title" required>
	  </div>

	  <div class="form-group">
			<label for="nombre">MENSAJE</label>
			<input type="text" id="mensajenotificacion" name="mensajenotificacion" required>
	  </div>


<button type = 'button' name = 'button' onclick="setNotificationWithParameters()">
	Enviar Notificación
</button>	


{{>footer}}