{{>header}}



{{#if auth}}

<h1>Bienvenido {{auth.nombre}} 
{{#if isImagenUsuario}}
<img src="data:img/png;base64,{{fotousuario}}"  width="40" height="40"class="img-fluid">
{{/if}}
</h1>

{{else}}

<p> Es necesario estar registrado para poder inscribirse a un curso  <a href="/crearUsuario">REGISTRO</a> </p>

<p> Es necesario loguearse para poder consultar los cursos que ha matriculado  <a href="/login">LOGIN</a> </p>

  {{/if}} 

{{>footer}}
